* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
    height: 100%;
}


/*Хэдер*/


header {
    height: 140px;
    background-color: #485a8a;
    box-shadow: 0 0px 10px 0 #000;
    position: fixed;
    width: 100%;
    color: #fff;
}

.panel {
    width: 100%;
    height: 100%;
    display: flex;
}

.panel__toolbar {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.panel__create-btn {
    height: 50%;
    width: 50%;
    border: 1px solid #000;
    background: linear-gradient(90deg, #39c719, #277928);
    border-radius: 20px;
    box-shadow: -2px 2px 4px 0px #333;
    font-size: 20px;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.panel__statusbar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    align-items: flex-end;
}

.panel__row {
    display: flex;
}

.panel__title {
    color: #909ec5;
}

.panel__indicator {
    width: 30px;
    text-align: center;
}


/*Блоки текста*/


#blocks {
    padding-top: 150px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block_red {
    background: linear-gradient(90deg, #ffc9c9, #fff);
}

.block_green {
    background: linear-gradient(90deg, #93ffb3, #fff);
}

.block_selected .block__text{
    color: #000;
}

.block__text {
    color: #aaa;
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: calc(100% - 48px);
    padding: 10px 0 10px 10px;
}

.block__btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.block:after {
    height: 1px;
    width: 400px;
    background-color: #ccc;
    content: '';
    display: block;
    margin: 0 auto;
}


/*Диалоговое окно*/


.confirm__wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.confirm__wrap_shown {
    display: block;
}

.confirm {
    color: #000;
    position: absolute;
    display: flex;
    width: 400px;
    background: #fff;
    height: 140px;
    top: calc(50% - 70px);
    left: calc(50% - 200px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-top: 3px solid #ff0000;
    box-shadow: -4px 4px 11px -4px #000;
}

.confirm__text {
    margin: 10px;
}

.confirm__button-area {
    display: flex;
}

.confirm__btn {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 7px 14px;
    border-radius: 3px;
    cursor: pointer;
}

.confirm__btn:hover {
    background-color: #ccc;
}
